:root {
  --sidebar-width: 250px;
  --sidebar-collapsed-width: 60px;
  --sidebar-margin: 0.5rem;
  --sidebar-border-radius: 0.5rem;
  --sidebar-transition: all 1s ease-out;
}

.app-layout {
  display: grid;
  grid-template-areas:
    'sidebar topbar'
    'sidebar main';
  grid-template-rows: 60px 1fr;
  grid-template-columns: auto 1fr;
}

.topbar-area {
  grid-area: topbar;
}

.main-area {
  grid-area: main;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-area {
  grid-area: sidebar;
  width: var(--sidebar-width);
  margin: 0;

  border-radius: 0;
  overflow: hidden;
  transition: var(--sidebar-transition);
}

.sidebar-area.static {
  width: var(--sidebar-width);
  visibility: visible;
}

.sidebar-area.static-inactive {
  width: 0;
  visibility: hidden;
}

.sidebar-area.static-collapse {
  width: var(--sidebar-collapsed-width);
  visibility: visible;
}

.sidebar-area.static-floating {
  margin: var(--sidebar-margin);
  border-radius: var(--sidebar-border-radius);
}

.sidebar-area.overlay {
  width: 0;
  margin: 0;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  border-radius: 0;
  visibility: hidden;
}

.sidebar-area.overlay-active {
  width: var(--sidebar-width);
  visibility: visible;
}

@media (width < 48rem) {
  .app-layout {
    grid-template-areas:
      'topbar'
      'sidebar'
      'main';
    grid-template-rows: 80px auto 1fr;
    grid-template-columns: unset;
  }

  .sidebar-area {
    width: 0;
    margin: 0;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    border-radius: 0;
    transition: var(--sidebar-transition);
  }

  .sidebar-area.mobile-active {
    width: var(--sidebar-width);
  }

  .sidebar-area.mobile-inactive {
    width: 0;
  }
}
