:root {
  --sidebar-width: 250px;
  --sidebar-collapsed-width: 60px;
  --sidebar-margin: 0.5rem;
  --sidebar-border-radius: 0.5rem;
  --sidebar-transition: all 0.3s ease-out;
}

.app-layout {
  display: grid;
  grid-template-areas:
    'sidebar topbar'
    'sidebar main';
  grid-template-rows: 60px 1fr;
  grid-template-columns: auto 1fr;
}

.topbar-area {
  grid-area: topbar;
  overflow: hidden;
}

.main-area {
  grid-area: main;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}

.sidebar-area {
  grid-area: sidebar;
  width: 0;

  overflow: hidden;
  transition: var(--sidebar-transition);
}

:is(.overlay, .sidebar-area, .static-inactive) {
  margin: 0;
  border-radius: 0;
}

:is(.static-active, .overlay.overlay-active, .mobile-active) {
  width: var(--sidebar-width) !important;
  visibility: visible;
}

:is(.static-inactive, .overlay.overlay-inactive, .mobile-inactive) {
  width: 0 !important;
  visibility: hidden;
}

.static-collapsed {
  width: var(--sidebar-collapsed-width);
  visibility: visible;
}

.static-floating {
  margin: var(--sidebar-margin);
  border-radius: var(--sidebar-border-radius);
}

.overlay {
  width: 0 !important;
  position: fixed;
  inset-block: 0;
  left: 0;
}

@media (width < 48rem) {
  .app-layout {
    grid-template-areas:
      'topbar'
      'sidebar'
      'main';
    grid-template-rows: 60px auto 1fr;
    grid-template-columns: unset;
  }

  .sidebar-area {
    width: 0;

    position: fixed;
    inset-block: 0;
    left: 0;
  }
}
